.home {
    background-color: var(--color-white); 
          
  }

  .dark .home {
    background-color: #121212;
  }

  .homepage {
    font-color: var(--color-gray3);
  }
  
  
  
  
  #start-contact {
    background-color: var(--color-gray1);   
    
    .container {


      @media (min-width: 768px) {

        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      
      @media (min-width: 1400px) {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        
      }
      
    }
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;   
    
    @media (min-width: 768px) {

      align-items: baseline;
    }
    
  }
  
  

  .contact-hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    h1 {
      padding-bottom: 2rem;
      align-self: center;

      @media (min-width: 1400px) {
        align-self: flex-start;
      }
    }
    

    

  }

  
  .contact-square {
    display: flex;    
    gap: 1rem;
    margin-bottom: 3rem;
    

    
    
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    h4 {
      padding-bottom: 2rem;
    }

    p {
      padding-bottom: 2rem;
    }

    a {     
      text-decoration: none;
      color: var(--color-primary);
    }
  }
  
  .contact-mess {
   
    img {
      padding-left: 0.5rem;
    }
  }

  .circle-img {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 50%;
    
  }

  .icons {
    
    height: 28px;
    width: 28px;
  }

  .reg-box {
    position: relative;
    display: none;
    
    
    @media (min-width: 768px) {
      display: flex;
    }
  }
  
  .reg-form {
    
    
    background-color: var(--bg-form);    
    border-radius: 7px;
    box-shadow: 0 0 10px var(--color-gray4);
    padding: 4rem;
    
    h1 {
      padding-bottom: 2rem;
      align-items: baseline;
      display: block;
    }
    
    
    @media (min-width: 1400px) {
      
      position: absolute;
      min-width: 635px;    
      bottom: -670px;
      left: 220px;
    }
  }

  .dark .reg-form {
    box-shadow: none;

    button {
      box-shadow: none;
    }
  }
  


    .formLabel {
      display: block;
      font-weight: 600;
      margin-bottom: .4rem;
      margin-top: .4rem;
    }

    .contact-form-input {
      font: inherit;      
      font-size: 1rem;
      width: 100%;
      padding: 1rem;
      border-radius: .5rem;
      border: 1px solid var(--color-gray4);      
    
    }

    .specialist {
      background-image: url("/src/Image/Vector2.svg");
      background-repeat: no-repeat;
      background-position: 470px 50%;
    }

    .submit {
      width: 100%;
      padding: 1rem;
      margin-top: 9rem;
      margin-bottom: 1rem;
      box-shadow: 0 5px 10px #6365f169;

    }

    .conf-box {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      background-color: var(--color-white);
      padding: 3rem;
      border-radius: 15px;
      box-shadow: 5px 5px 7px var(--color-gray4);

      @media (min-width: 1400px) {
      
        position: absolute;
        min-width: 635px;    
        bottom: -300px;
        left: 220px;
      }
    }


    #location {
      margin-top: 14rem;
      margin-bottom: 22rem;
    }

   

    .maps {
      display: none;
      
    }
    
    .map-info {
      display: flex;
      flex-direction: column;
      height: 540px;
      justify-content: space-between;
      margin-right: 8rem;
    }

    .adress {
      display: flex;
      flex-direction: column;

    }

    #medical-center1 {
      margin-bottom: 3rem;
    }

    ul {
      list-style-type: none;
      padding: 0;

      span {
        font-weight: 800;
      }
    }

    li {
      img {
        padding-right: 1rem;
      }
    }

    .weekend {
      padding-left: 2.3rem;
    }

    .middle {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .socials {
      display: flex;
      justify-content: center;
      gap: 3rem;
      margin-top: 6rem;
      background-color: var(--color-gray1);
      box-shadow: 5px 5px 7px var(--color-gray4);    
    
    }

    .dark .socials {
      box-shadow: none;
      background-color: #121212;
    }

    .social-box {
      display: grid;
      place-items: center;
      width: 44px;
      height: 44px;
      background-color: var(--color-gray1);
      border-radius: 5px;      
    }

    .dark .social-box {
      background-color: #fff;
    }

    .social-box:hover {
      background-color: var(--color-primary);
    }


  
  
 
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
    .btn-toggle-switch .label {
      display: block;
    }
    header .container {
      gap: 3rem;
    }
    footer .credit {
      display: block;
    }
    
    
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
    header .container {
      grid-template-columns: auto auto 1fr auto auto;
      gap: 3rem;
    }
    #auth-signin {
      display: block;
    }
    .btn-mobile {
      display: none;
    }
    .navbar {
      display: block;
    }
    .maps {
      display: inline-block;
    }   
    
    .socials {      
      gap: 1rem;
      margin-top: 1rem;
      margin-left: 2.5rem;
      background-color: #fff;
      box-shadow: none; 
      justify-content: flex-start;    

    }

   
    
    footer .credit {
      display: block;
    }
    
  }